h1 {
    color: blue;
}

p {
	color: yellow;
}

li {
	color: red;
}

body{
	background-image: url("http://www.geology4today.com/uploads/1/8/1/6/18166011/5465419_orig.jpg?333") ;
}
h2{
	color: cyan;
}
p{
	text-align: center;
}


